/.gitignore~
/OCS-Client.depend
/OCS-Client.depend~
/OCS-Client.layout
/OCS-Client.layout~
/OCS-Client.cbp
/OCS-Client.cbp~
/Makefile~
/Makefile.FLTK~
/MAIN.log
/MAIN.log~
/obj/*
/main
/bin/main
/OCS-Client.desktop
/conf/connections.json~
/conf/keysIDs.json~
/conf/liquisIDs.json~
/conf/keys/*
/conf/stuff/*
